// -------------- Global used simple classes -------------- //

.brown-bg {
	background: $brown;
	color: $beige-light;
}

.beige-bg {
	background: $beige-lighter;

	.btn {
		background: darken($beige-middle, 8%);
		border-color: darken($beige-middle, 8%);

		&:hover,
		&:focus,
		&:active {
			background: darken($beige-middle, 16%);
			border-color: darken($beige-middle, 16%);
		}
	}
}

.border-top {
	border-top: 3px solid $beige-middle;
}

.border-top-simple {
	border-top: 1px solid $beige-dark;
}

.border-bottom {
	border-bottom: 3px solid $beige-middle;
}

.back {
	margin-top: 2.5em;
	display: block;
	text-decoratio: none;

	&:hover,
	&:focus {
		text-decoration: none;
	}

	&:before {
		@extend [class^="icon-"]:before;
		@extend .icon-angle-left:before;
		padding-right: 10px;
		line-height: $line-height-base;
		text-decoration: none;
	}
}

.centered {
	text-align: center;
}

.breadcrumb {
	@extend .col-sm-12;
	margin-bottom: 0px;
	background: transparent;
	padding-top: 8px;
	padding-bottom: 8px;
}

section,
footer {
	padding: 50px 0px 50px 0px;
}

section {
	&.no-padding-top {
		padding-top: 0px;
	}

	&.no-padding {
		padding: 0px;
	}
}

.keyvisual {
	background-repeat: no-repeat;
	background-position: 50% top;
	height: 250px;
	width: 100%;
	overflow: hidden;
	background-image: url(../Images/header-home.jpg);
	background-size: 100%;
}

.type-icon {
	font-size: 55px;
	display: inline-block;
	width: 100%;
}

.social {
	width: 100%;
	text-align: center;

	li {
		list-style: none;
		font-size: 40px;
		display: inline-block;
		margin-right: 10px;

		span {
			display: inline-block;
			text-indent: -9999px;
		}

	}

	a {
		color: $beige-light;
		text-decoration: none;

		&:hover,
		&:focus,
		&:active {
			opacity: 0.8;
		}
	}
}

.image-gallery {
	@extend .row;
	overflow: hidden;

	figure {
		@extend .col-sm-4;
		margin-top: 2em;
	}
}

#map_canvas {
	width: 500px;
	height: 400px;
	background-color: #CCC;
}

.video-youtube {
	position: relative;
	padding-bottom: 75%;
	height: 0;
	overflow: hidden;
	margin-bottom: 35px;
	margin-top: 2em;

	@media (min-width: $screen-md-min) {
		margin-top: 0;
	}

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}